body{
    width:100%;
    text-align: center;
}
.quartercircle {
    width: 150px;
    height: 150px;
    margin:5px;
}
.quartercircle:active,
.quartercircle:focus,
.quartercircle.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.green{
    background: green;
    border-radius: 0 0 150px 0;
}
.red{
     background: red;
     border-radius: 0 0 0 150px;
}
.blue{
     background: blue;
     border-radius: 0 150px 0 0;
}
.yellow{
     background: yellow;
     border-radius: 150px 0 0 0;
}
.secondRed{
    background:#ff9999;
}
.secondGreen{
    background:#7fbf7f;
}
.secondBlue{
    background:#7f7fff;
}
.secondYellow{
    background:#ffffb2;
}
.circle{
    width:100%;
}
.startGame {
    width:150px;
    height:60px;
    font-size:24px;
    color:#ffffff;
    background: purple;
    text-align: center;
}
.simonClicks{
    width:40%;
    float:left;
}
.playerClicks{
    width:40%;
    float:right;
}