<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
     <script type="text/javascript" src="index.js"></script>
  </head>
	<body ng-app="MyApp">
		<div ng-controller="MyController as ctrl">
			<h1>User Info</h1> 
		<div ng-show="ctrl.isEditing">
			<div>First: <input type="text" ng-model="ctrl.firstinput"></div>
			<div>Last: <input type="text" ng-model="ctrl.lastinput">
				<!--<div ng-bind="ctrl.lastinput"></div>-->
			</div>
			<div>Email: <span type="text" ng-bind="ctrl.email"></span></div>	
			<button ng-click="ctrl.done()">Done</button>

			<button ng-click="ctrl.cancel()">Cancel</button>
		
		</div>
		<div ng-hide="ctrl.isEditing">		
						
			<div>First: <span type="text" ng-bind="ctrl.first"></span></div>
			<div>Last: <span type="text" ng-bind="ctrl.last"></span></div>
			<div>Email: <span type="text" ng-bind="ctrl.email"></span></div>	
				<!--Show when True; Use ng-true -->
				
			<button ng-click="ctrl.edit()">Edit</button>
		</div>
		
		
		</div>
	</body>
</html>