<!DOCTYPE html>
<html>
  <head>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
      <script type="text/javascript" src="index.js"></script>
      <script type="text/javascript" src="service.js"></script>
      <link rel="stylesheet" href="index.css">
  </head>
 	<body ng-app="MyApp" ng-controller="MyController as ctrl" ng-class="">
  <!--<pre>
    {{ ctrl.colors | json}}
  </pre>-->
    <h1> 
      <button ng-click="ctrl.startGame()" class="startGame">
          <span class="buttonMessage" ng-bind="ctrl.buttonMessage">Start Game</span></button>
   </h1>

        <h2 ng-show="ctrl.round">Round #<span ng-bind="ctrl.roundCount"></span></h2>
       <span class="gameMessage" ng-bind="ctrl.gameMessage"></span>
    <br><br>
    <div class="circle">
      <div class="quartercircle yellow" ng-click="ctrl.clicked(ctrl.yellow)" ng-model= "ctrl.yellow" ng-class="{yellowActive: ctrl.yellow.active}"></div>
      <div class="quartercircle blue" ng-click="ctrl.clicked(ctrl.blue)" ng-model="ctrl.blue" ng-class="{blueActive: ctrl.blue.active}"></div>
      
      <div class="quartercircle red" ng-click="ctrl.clicked(ctrl.red)" ng-model="ctrl.red" ng-class="{redActive: ctrl.red.active}"></div>
      <div class="quartercircle green" ng-click="ctrl.clicked(ctrl.green)" ng-model="ctrl.green" ng-class="{greenActive: ctrl.green.active}"></div>
    </div>
          <br>  <br>
  
    <div class="simonSpace">
            <h2>Simon's Clicks</h2><hr>
              <!--<span ng-bind="ctrl.simonArray">-->
              <span ng-repeat="color in ctrl.simonArray track by $index">
                  <span ng-bind="color"></span>
              </span>
              </span>
    </div>
    <div class="playerSpace">  
         <h2>Player's Clicks</h2><hr>
              <span ng-repeat="color in ctrl.player.selectedColors track by $index">
                  <span ng-bind="color.color"></span>
              </span>
    </div>     
  
 	 	</body>
 </html>